html, body, .root {
  height: 100%;
}

body {
  background-color: lightgrey;
}

.box {
  border: solid darkgrey 2px;
  padding: 1em;
}

.appContainer {
  height: 85%;
  display: flex;

  & > div {
    flex: 1;
  }
}

.graph-view {
  background-color: beige;
  width: 50%;
}
.graph-explorer {
  background-color: lightgreen;
  width: 50%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}


.graph-explorer__item {
  flex: 1;
}

.time-display {
  flex: initial;
}

.node--failed{
  text-decoration: line-through;
}


/* Graph */
.link {
  stroke: #000;
  stroke-width: 1.5px;
}

.node {
  fill: #000;
  stroke: #fff;
  stroke-width: 1.5px;
}

.node.a { fill: #1f77b4; }
.node.b { fill: #ff7f0e; }
.node.c { fill: #2ca02c; }

