$darkgray: #2a2f3a;

@import "d3/graph";

* {
  box-sizing: border-box;
}
html, body, .root {
  height: 100%;
}
body {
  background-color: lightgrey;
}
ul {
  margin: 0;
}

// Utility
.row {
  flex-direction: row;
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
.box {
  border: solid $darkgray 2.5px;
  padding: 1em;
}

// App layout
$footer-height: 80px;
.appContainer {
  height: 100%;
  display: flex;
}
.main-ui {
  height: calc( 100% - #{$footer-height} );
}
.footer {
  height: $footer-height;
}

// graph view
.graph-view {
  background-color: white;
  width: 50%;
  overflow: hidden;
}

// explorer panel
.graph-explorer {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.graph-explorer__item {
}
.edge-list {
  overflow-y: auto;
  flex-grow: 1;
  columns: 2;
}
.node--failed{
  text-decoration: line-through;
}

// Time travel panel
.timeMonitor div a:last-child {
  // hack to hide "Reset" button, button does not make sense in this context and
  // layout is done by other module.
  display: none;
}
